#main-container {
    display: flex;
}

#header {
    background: linear-gradient(160deg, #714fea, #4a5aef);
    color: white;
}

#control-panel {
    flex: 5;
    padding: 10px;
}

#history {
    flex: 5;
    padding: 10px;
}
