#main-container {
    display: flex;
}

#header {
    background: linear-gradient(160deg, #714fea, #4a5aef);
    color: white;
}

#control-panel {
    flex: 5;
    padding: 10px;
}

#history {
    flex: 5;
    padding: 10px;
}

#appErrors {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
}
