.expense {
    font-family: sans-serif;
    background: #f8f8f8;
    border-bottom: dotted 1px #e3e3e3;
    padding: 5px;
}

/**
 *  Title and amount, initial clickable area
 */
.expense .primary-details {
    cursor: pointer;
    position: relative;
}
.expense .primary-details span.indicator {
    color: #939393;
    position: absolute;
    right: 10px;
    top: calc(50% - 7px);
    font-size: 14px;
    display: none;
}
.expense .primary-details:hover span.indicator {
    display: block;
}
.expense .primary-details .title {
    font-size: 14px;
    color: #939393;
}

.expense .primary-details .amount {
    color: black;
    margin: 0;
}
