/**
 *  Main element
 */
.expense {
    font-family: sans-serif;
    background: white;
    border: solid 1px transparent;
    border-radius: 27px;
    padding: 6px 20px;
    margin: 5px;
}

/**
 *  Title and amount, initial clickable area
 */
.expense .primary-details {
    cursor: pointer;
    position: relative;
    transition: all ease 0.3s;
}
.expense:hover:not(.expanded) .primary-details {
    padding-left: 7px;
    transition: all ease 0.1s;
}
.expense .primary-details span.indicator {
    color: #939393;
    position: absolute;
    right: 10px;
    top: calc(50% - 7px);
    font-size: 14px;
    display: none;
}
.expense .primary-details span.indicator {
    display: block;
}
.expense .primary-details .title {
    font-size: 12px;
    color: #939393;
}
.expense .primary-details .amount {
    color: black;
    margin: 0;
}

/**
 *  Dropdown content
 */
.expense .secondary-details {
    display: none;
}
.expense.expanded .secondary-details {
    display: block;
    padding-top: 20px;
}
.expense .secondary-details p {
    font-size: 14px;
}

/**
 *  Dropdown indicator
 */
.expense .indicator .expanded {
    display: none;
}
.expense.expanded .indicator .closed {
    display: none;
}
.expense.expanded .indicator .expanded {
    display: block;
}
