.appError {
    background: #e23b49;
    color: white;
    border-radius: 8px;
    padding: 12px;
    font-family: sans-serif;
    font-size: 14px;
    margin: 5px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.appError p {
    margin: 0;
}

.appError:hover {
    opacity: 0.8;
    transition: all ease 0.05s;
    margin-right: 10px;
    margin-left: 0px;
}
