#control-panel-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#details {
    display: flex;
}

input[name="title"], input[name="amount"] {
    flex: 5;
}

#details input[name="title"] {
    margin-right: 10px;
}

#details input[name="amount"] {
    margin-left: 10px;
}
