#main-container {
    height: calc(100vh - 43px);
}

#header {
    background: #4a5aef;
    color: white;
}

#app-notifs {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
}
