@import './scss/custom.scss';

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/**
 *  Backgrounds
 */
.bg-light {
    background: #f8f8f8;
}
